.appellate__content {
  display: flex;
  flex-direction: column;
}

.appellate__information {
  margin-bottom: 44px;
}

.appellate__operations {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.appelate__operations-item {
  max-width: 274px;
  display: flex;



}