.appellate__content {
  display: flex;
  flex-direction: column;
}

.appellate__information {
  margin-bottom: rem(44px);
}

.appellate__operations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: rem(50px);
  column-gap: rem(30px);
  row-gap: rem(30px);

  @include phonesPortrait {
    row-gap: rem(50px);
  }
}