.button {
  font-size: 14px;
  line-height: 1.54;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 7px 50px;
  background: $red;
  border-radius: 25px;
  text-align: center;
}