.operation {
  flex-direction: column;
  align-items: center;
  min-height: rem(217px);
  flex: 1 1 auto;
  display: flex;

  @include phonesPortrait {
    min-height: rem(190px);
  }

  .operation__controls {
    margin-top: auto;
  }
}

.operation:last-child {
  min-height: auto;
}

.operation__text {
  text-align: center;
  margin-bottom: rem(20px);
  max-width: rem(274px);
}

.operation--with-button {
  .operation__text {
    max-width: rem(183px);
  }
  
  .operation__controls {
    margin-top: 0;
  }

  .operation__subtitle {
  margin-bottom: rem(44px);

    @include phonesPortrait {
      margin-bottom: rem(20px);
    }
  }
}

.operation__subtitle {
  font-size: rem(12px);
  line-height: rem(14px);
  color: $red;

  @include phonesPortrait {
    font-size: rem(16px);
    line-height: rem(16px);
  }

  @include phonesLandscape {
    font-size: rem(16px);
    line-height: rem(16px);
  }
}

.operation__inputs {
  display: flex;
  column-gap: rem(34px);
}