.text-block__title {
  margin-bottom: rem(20px);
}

.text-block__list {
  display: flex;
  flex-direction: column;
  row-gap: rem(10px);
  line-height: rem(21px);
}

.text-block__item {
  margin-left: rem(26px);
  display: flex;
  align-items: center;
}

.text-block__item::before {
  content: '';
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  line-height: rem(21px);
  background: $red;
  border-radius: 50%;
  margin-right: rem(8px);
}