.warning {
  background: $light-gray;
  padding: rem(15px);
  font-size: rem(12px);
  line-height: rem(14px);
  border: 1px solid $red;

  @include phonesPortrait {
    font-size: rem(16px);
    line-height: rem(16px);
  }

  @include phonesLandscape {
    font-size: rem(16px);
    line-height: rem(16px);
  }
}